@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
}
img {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
}
body {
  background: #fdfeff;
  position: relative;
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: 0 auto;
  max-width: 1190px;
  padding: 0px 30px;
  display: flex;
}
.header__container {
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
}
.header__logo {
  width: 167px;
  height: 40px;
}
.header__burger {
  display: none;
}

.info__container {
  padding-top: 20px;
  position: relative;
}
.desc {
  padding: 100px 0px 20px;
  width: 50%;
}
.desc__greetings,
.desc__title {
  margin-bottom: 30px;
  font-style: normal;
  line-height: normal;
}
.desc__greetings {
  color: #4e95ca;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
}
.desc__title {
  color: #343434;
  font-family: 'Merriweather', serif;
  font-size: 40px;
  font-weight: 900;
}
.desc__title-color {
  color: #4e95ca;
}
.desc__desc,
.desc__btn {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
}
.desc__desc {
  color: #685455;
  font-size: 16px;
  margin-bottom: 50px;
  letter-spacing: -1px;
}
.desc__btn {
  width: 140px;
  height: 50px;
  padding: 14px 39px 14px 38px;
  border-radius: 10px;
  background: #3ca8f3;
  cursor: pointer;
  color: #dfffff;
  font-size: 18px;
  transition: transform 0.3s ease, background 0.3s ease-in-out;
}
.desc__btn:hover {
  background: #199cfa;
}

.desc__btn:active {
  transform: scale(0.98);
}
.info__img {
  width: 50%;
}
.info__wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  transform: scale(0);
  transition: transform 0.5s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info__wrapper.active {
  transform: scale(1);
}
.info__trans {
  width: 50%;
  position: relative;
}

.info__trans-arrow {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header__burger {
    display: block;
    cursor: pointer;
  }
  .container {
    max-width: 990px;
  }
  .desc__title {
    font-size: 36px;
  }
  .desc__greetings,
  .desc__title {
    margin-bottom: 20px;
  }
  .desc__desc {
    margin-bottom: 35px;
  }
}
@media (max-width: 768px) {
  .container {
    max-width: 750px;
    flex-wrap: wrap;
  }
  .desc {
    padding: 25px 0px 25px;
    order: 2;
    width: 100%;
  }
  .desc__title {
    font-size: 28px;
  }
  .info__img {
    width: 100%;
  }
  .info__trans {
    width: 90%;
    position: relative;
  }
  .info__trans-arrow {
    top: 7px;
    left: 7px;
  }
  .desc__greetings,
  .desc__title {
    margin-bottom: 15px;
  }
  .desc__desc {
    margin-bottom: 35px;
  }
}
@media (max-width: 430px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }
}
